extends layout


block content
  h1= title 
  
  form(method="post")
    if errors 
      h2(class="error") Error 
      ul(class="error")
        each error in errors 
          if error.path == 'title'
            li Title is required
          else if error.path == 'author'
            li Author is required
    p  
      label(for="title") title
      input(name="title" type="text" id="title")
    p
      label(for="author") author 
      input(name="author" type="text" id="author")
    p 
      label(for="genre") genre 
      input(name="genre" type="text" id="genre" )
    p
      label(for="year") year
      input(name="year" type="number" id="year")
    p 
      input(type="submit" value="Update Book")

  form(method="post" action=`/books/${bookId}/delete` onsubmit="return confirm('Do you really want to delete this book?');")
    p
      a(class="button" href="/books") Cancel
    p 
      input(type="submit" value="Delete Book")
    